/* Hide scrollbar for Chrome, Safari and Opera */
#product-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#product-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */


    max-width: 100%;
    overflow-x: scroll;
    display: inline-flex;
}

.vertical-spacer {
    height: 16px;
}

